aiofiles
aiohttp
aiomysql
apscheduler
colorama
countryinfo
currencyconverter
ffmpeg-python
gtts
imdbpy
instagram_private_api
jdatetime
kurigram
matplotlib
numpy
OpenCC
Pillow
psutil
pyPrivnote
pySmartDL
pytube
pyttsx3
qrcode
requests
schedule
selenium
sqlalchemy
tgcrypto
thisapidoesnotexist
translate
tronpy
uptime
urllib3
wikipedia
youtube-dl
youtube-search-python
youtube_search
beautifulsoup4
pymediainfo
telegraph
ipapi
pytz